/* DetailMobil.css */

.detail-mobil {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .detail-mobil h1 {
    color: #333;
    font-size: 24px;
  }
  
  .detail-mobil img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .detail-mobil p {
    margin-top: 10px;
  }
  
  /* Anda dapat menambahkan gaya CSS lainnya sesuai kebutuhan Anda */
  